@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url(./images/pattern-curve.svg);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
}

.slider {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    position: relative;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-image{
    width: 100%;
    height: 100%;
    padding: 40px;
    background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.slide-image img {
    height: 100%;
    width: 250px;
    box-shadow: -20px 20px 20px 0px hsla(240, 18%, 77%, .52);
}

.testimonial-text {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2rem;
    color: hsl(240, 38%, 20%);
}

.author-text {
    margin-top: 20px;
    color: hsl(240, 38%, 20%);
    font-size: .5em;
    font-weight: 700;
}

.author-text span {
    display: block;
    color: hsl(240, 18%, 77%);
    font-weight: 500px;
}

.slide-text {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top center;
}

.prev,
.next {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
    width: 90px;
    height: 45px;
    border-radius: 50px;
    background-color: white;
    overflow: hidden;
   
}

.prev:hover,
.next:hover{
    background-color: antiquewhite;
}

.pre {
    left: 0;
}

.next {
    right: 0;
}

.next::after,
.prev::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.next::after {
    background-image: url(./images/icon-next.svg);
}

.prev::after {
    background-image: url(./images/icon-prev.svg);
}




.slidetwo {
    display: none;
}


